Repository imazen/mozjpeg-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Encoder Pipeline, DCT & Color, Entropy Coding, Trellis Quantization, Progressive Mode

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage thresholds
  status:
    project:
      default:
        # Require 85% overall coverage (we're at ~90%)
        target: 85%
        # Allow 2% drop from base
        threshold: 2%
        # Only check main crate sources
        paths:
          - "src/"
    patch:
      default:
        # New code should have at least 75% coverage
        target: 75%
        # Allow 5% below target for patches
        threshold: 5%

  # Precision of coverage percentages
  precision: 2
  round: down
  range: "70...100"

# Ignore test files and examples from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"
  - "crates/**/*"

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  unittests:
    paths:
      - "src/"
    carryforward: true

# Component breakdown
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    - component_id: encoder
      name: Encoder Pipeline
      paths:
        - "src/encode.rs"
        - "src/encode/**"
        - "src/marker.rs"
    - component_id: dct
      name: DCT & Color
      paths:
        - "src/dct.rs"
        - "src/color.rs"
        - "src/simd/**"
    - component_id: entropy
      name: Entropy Coding
      paths:
        - "src/entropy.rs"
        - "src/huffman.rs"
        - "src/bitstream.rs"
    - component_id: trellis
      name: Trellis Quantization
      paths:
        - "src/trellis.rs"
        - "src/quant.rs"
    - component_id: progressive
      name: Progressive Mode
      paths:
        - "src/progressive.rs"
        - "src/scan_optimize.rs"
        - "src/scan_trial.rs"

ci: add aarch64 QEMU tests, fix wasm32 unused import
  .github/workflows/ci.yml
  src/simd/mod.rs
Due: unittests, DCT & Color

docs: highlight forbid(unsafe_code) and byte-identical output in README
  README.md
Due: none

style: cargo fmt neon.rs
  src/simd/aarch64/neon.rs
Due: unittests, DCT & Color

docs: update performance benchmarks with AVX2/NEON results
  README.md
Due: none

fix: allow clippy::too_many_arguments for NEON dct_pass
  src/simd/aarch64/neon.rs
Due: unittests, DCT & Color

docs: recommend zenjpeg for encoding+decoding, clarify decoder options
  README.md
Due: none

docs: update README - use CID22 not Kodak, fix forbid vs deny, update test count, remove outdated sections
  README.md
Due: none

release: prepare v0.8.0
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

chore: update Cargo.toml edition to 2024
  Cargo.toml
  crates/sys-local/Cargo.toml
Due: none

fix: use unsafe extern block for edition 2024
  crates/sys-local/src/lib.rs
Due: none

deps: bump safe_unaligned_simd minimum to 0.2.5
  Cargo.toml
Due: none

docs: set MSRV to 1.89
  Cargo.toml
Due: none

refactor: replace hardcoded paths with env var overrides
  examples/compare_scan_configs.rs
  examples/comprehensive_comparison.rs
  examples/corpus_full_comparison.rs
  examples/deringing_gap_test.rs
  examples/force_al1_test.rs
  examples/non_trellis_gap.rs
  examples/optimize_scans_debug.rs
  examples/prog_test.rs
  examples/quality_metrics_comparison.rs
  examples/quant_ffi_compare.rs
  examples/synth_dct_overflow.rs
  examples/trace_pipeline.rs
  examples/trellis_noise_bench.rs
  examples/trellis_speed_bench.rs
Due: none

fix: replace hardcoded repo paths with script-relative defaults
  scripts/run_historical_benchmarks.sh
Due: none

deps: update archmage/magetypes to 0.9
  Cargo.toml
Due: none

docs: remove FEEDBACK.md from repo
  FEEDBACK.md
Due: none

refactor: replace multiversion with archmage #[autoversion]
  Cargo.toml
  src/dct.rs
  src/simd/mod.rs
  src/simd/scalar.rs
Due: unittests, DCT & Color

fix: use #[arcane(nested)] for SIMD functions inside impl block
  src/simd/x86_64/entropy.rs
Due: unittests, DCT & Color

fix: clippy warnings, bump deps, fix CI macOS runner
  .github/workflows/ci.yml
  Cargo.toml
  src/corpus.rs
  src/dct.rs
  src/encode.rs
  src/trellis.rs
Due: unittests, Encoder Pipeline, DCT & Color, Trellis Quantization

release: bump version to 0.9.0
  Cargo.toml
Due: none

deps: update butteraugli 0.7 → 0.8
  Cargo.toml
  examples/cid22_bench.rs
  examples/multipass_test.rs
Due: none

deps: bump archmage/magetypes to 0.9.6
  Cargo.toml
Due: none

deps: bump archmage/magetypes to 0.9.7
  Cargo.toml
Due: none

deps: bump archmage/magetypes to 0.9.8
  Cargo.toml
Due: none

deps: bump archmage/magetypes to 0.9.9
  Cargo.toml
Due: none

feat: add zencodec and zennode features, update all dependencies
  Cargo.toml
  examples/cid22_bench.rs
  examples/multipass_test.rs
  src/codec.rs
  src/lib.rs
  src/zennode_defs.rs
Due: unittests

feat: native enough::Stop cancellation, From<StopReason> + From<LimitExceeded>
  Cargo.toml
  src/codec.rs
  src/encode.rs
  src/error.rs
  src/lib.rs
Due: unittests, Encoder Pipeline

deps: bump archmage 0.9.14
  Cargo.toml
Due: none

deps: require zenpixels 0.2.1 (gamut matrix, serde, ICC profiles, bug fixes)
  Cargo.toml
Due: none

deps: bump zencodec to 0.1.12
  Cargo.toml
Due: none

deps: bump zencodec to 0.1.13
  Cargo.toml
Due: none

fix: update zennode path dep after crate moved under zen/
  Cargo.toml
Due: none

feat(zencodec): advertise XMP support and override is_lossless
  src/codec.rs
Due: unittests

test(zencodec): cover ResourceLimits and StopToken enforcement
  src/codec.rs
Due: unittests

refactor: remove zennode integration
  Cargo.toml
  src/lib.rs
  src/zennode_defs.rs
Due: unittests

chore: bump version to 0.9.1
  Cargo.toml
Due: none

refactor: drop deprecated SimdToken param from autoversion fns
  src/dct.rs
  src/simd/scalar.rs
Due: unittests, DCT & Color

deps: bump archmage 0.9.14 -> 0.9.17
  Cargo.toml
Due: none
