Repository imazen/mozjpeg-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Encoder Pipeline, DCT & Color, Entropy Coding, Trellis Quantization, Progressive Mode

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage thresholds
  status:
    project:
      default:
        # Require 85% overall coverage (we're at ~90%)
        target: 85%
        # Allow 2% drop from base
        threshold: 2%
        # Only check main crate sources
        paths:
          - "src/"
    patch:
      default:
        # New code should have at least 75% coverage
        target: 75%
        # Allow 5% below target for patches
        threshold: 5%

  # Precision of coverage percentages
  precision: 2
  round: down
  range: "70...100"

# Ignore test files and examples from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"
  - "crates/**/*"

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  unittests:
    paths:
      - "src/"
    carryforward: true

# Component breakdown
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    - component_id: encoder
      name: Encoder Pipeline
      paths:
        - "src/encode.rs"
        - "src/encode/**"
        - "src/marker.rs"
    - component_id: dct
      name: DCT & Color
      paths:
        - "src/dct.rs"
        - "src/color.rs"
        - "src/simd/**"
    - component_id: entropy
      name: Entropy Coding
      paths:
        - "src/entropy.rs"
        - "src/huffman.rs"
        - "src/bitstream.rs"
    - component_id: trellis
      name: Trellis Quantization
      paths:
        - "src/trellis.rs"
        - "src/quant.rs"
    - component_id: progressive
      name: Progressive Mode
      paths:
        - "src/progressive.rs"
        - "src/scan_optimize.rs"
        - "src/scan_trial.rs"

style: cargo fmt
  tests/parity_benchmark.rs
Due: none

refactor: replace Kodak corpus references with CID22
  .cargo/config.toml
  CHANGELOG.md
  README.md
  examples/compare_ac_refine.rs
  examples/compare_scan_configs.rs
  examples/comprehensive_benchmark.rs
  examples/comprehensive_comparison.rs
  examples/corpus_full_comparison.rs
  examples/debug_decode.rs
  examples/deringing_gap_test.rs
  examples/force_al1_test.rs
  examples/force_sa.rs
  examples/full_corpus_test.rs
  examples/full_quality_comparison.rs
  examples/multipass_test.rs
  examples/non_trellis_gap.rs
  examples/opt_scans_test.rs
  examples/optimize_scans_debug.rs
  examples/pareto_benchmark.rs
  examples/prog_test.rs
  examples/quality_metrics_comparison.rs
  examples/quant_ffi_compare.rs
  examples/sa_debug.rs
  examples/sa_test.rs
  examples/simd_benchmark.rs
  examples/timing_benchmark.rs
  examples/trace_pipeline.rs
  examples/visual_compare.rs
  scripts/fetch-corpus.sh
  scripts/test-all.sh
  src/consts.rs
  src/corpus.rs
  tests/corpus_comparison.rs
  tests/corpus_validation.rs
  tests/encoder_validation.rs
  tests/parity_benchmark.rs
  tests/progressive_comparison.rs
  tests/subsampling_444.rs
  tests/trellis_validation.rs
Due: unittests

refactor: migrate from archmage 0.1 to 0.4 with safe_unaligned_simd
  Cargo.toml
  examples/force_sa.rs
  examples/sa_debug.rs
  examples/sa_test.rs
  examples/simd_benchmark.rs
  src/color_avx2.rs
  src/dct.rs
  src/simd/mod.rs
  src/simd/x86_64/avx2.rs
  src/simd/x86_64/entropy.rs
  tests/progressive_comparison.rs
Due: unittests, DCT & Color

refactor: remove all unsafe from SIMD modules
  src/color_avx2.rs
  src/simd/x86_64/avx2.rs
  src/simd/x86_64/entropy.rs
Due: unittests, DCT & Color

chore: bump to 0.5.4, fix clippy in benches/examples
  Cargo.toml
  benches/dct.rs
  examples/debug_dct.rs
  examples/profile_dct.rs
  examples/synth_dct_overflow.rs
  examples/trellis_noise_bench.rs
  examples/trellis_speed_bench.rs
  examples/verify_dct.rs
Due: none

docs: update README with CID22 benchmark including quality metrics
  CLAUDE.md
  Cargo.toml
  README.md
  examples/cid22_bench.rs
Due: none

docs: recommend mozjpeg crate, bump to 0.5.5
  Cargo.toml
  README.md
Due: none

docs: add API improvement notes from mozjpeg-rust PR #49 analysis
  API_IMPROVEMENT_NOTES.md
Due: none

feat: add strided encoding support for RGB and grayscale
  src/encode.rs
  src/error.rs
  tests/encode_tests.rs
Due: unittests, Encoder Pipeline

feat: add imgref integration for type-safe pixel encoding
  Cargo.toml
  src/imgref_ext.rs
  src/lib.rs
Due: unittests

docs: update API improvement notes with implementation status
  API_IMPROVEMENT_NOTES.md
Due: none

fix: improve scan optimizer parity with C mozjpeg
  src/scan_optimize.rs
Due: unittests, Progressive Mode

docs: update CLAUDE.md with scan optimizer fix notes
  CLAUDE.md
Due: none

feat: make imgref a default feature
  Cargo.toml
Due: none

docs: update README and CHANGELOG for v0.6.0 release
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

style: apply cargo fmt
  examples/cid22_bench.rs
  src/imgref_ext.rs
  src/scan_optimize.rs
Due: unittests, Progressive Mode

test: relax preset_parity threshold to 6% for ProgressiveSmallest
  tests/preset_parity.rs
Due: none

test: add SSIMULACRA2 quality verification to preset_parity
  tests/preset_parity.rs
Due: none

docs: add context handoff for C-compatible color conversion
  CONTEXT-HANDOFF.md
Due: none

feat: add c_compat_color option for exact C mozjpeg baseline parity
  src/color.rs
  src/encode.rs
  src/test_encoder.rs
  tests/edge_cropping.rs
Due: unittests, Encoder Pipeline, DCT & Color

docs: remove context handoff after implementing c_compat_color
  CONTEXT-HANDOFF.md
Due: none

docs: document c_compat_color feature in CLAUDE.md
  CLAUDE.md
Due: none

feat: add AVX2-accelerated C-compat color conversion
  src/color.rs
Due: unittests, DCT & Color

feat: make c_compat_color the default for exact C mozjpeg parity
  CLAUDE.md
  src/encode.rs
  src/test_encoder.rs
Due: unittests, Encoder Pipeline

perf(color): wire c_compat to fast color_avx2, 5.7x speedup
  src/color.rs
  src/color_avx2.rs
Due: unittests, DCT & Color

docs: update color conversion performance numbers
  CLAUDE.md
Due: none

docs: update benchmark results showing byte-exact parity
  CLAUDE.md
  README.md
  src/corpus.rs
  tests/parity_benchmark.rs
Due: unittests

docs: update runtime benchmarks
  CLAUDE.md
  README.md
Due: none

api: add ergonomic fast_color() and exact_color_match() methods
  CLAUDE.md
  README.md
  src/color.rs
  src/encode.rs
  src/test_encoder.rs
  tests/parity_benchmark.rs
Due: unittests, Encoder Pipeline, DCT & Color

api: simplify to fast_color(bool)
  CLAUDE.md
  README.md
  src/color.rs
  src/encode.rs
Due: unittests, Encoder Pipeline, DCT & Color

release: prepare v0.7.0
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

feat: add 32-bit testing to CI
  .github/workflows/ci.yml
  Cross.toml
  justfile
Due: none

feat: add wasm32-wasip1 build check to CI
  .github/workflows/ci.yml
Due: none

deps: update archmage 0.4→0.5, safe_unaligned_simd 0.2.3→0.2.4
  Cargo.toml
Due: none

refactor: enforce deny(unsafe_code) with archmage/safe_unaligned_simd
  src/lib.rs
  src/test_encoder.rs
Due: unittests

docs: highlight 100% safe Rust achievement in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

feat: achieve forbid(unsafe_code) with conditional compilation
  src/lib.rs
  src/test_encoder.rs
Due: unittests

wip: start NEON port - needs archmage API fixes
  src/simd/aarch64/mod.rs
  src/simd/aarch64/neon.rs
  src/simd/mod.rs
Due: unittests, DCT & Color

feat: add NEON SIMD for aarch64 (archmage 0.5)
  src/simd/aarch64/neon.rs
  src/simd/mod.rs
Due: unittests, DCT & Color

docs: add NEON to implemented features
  CLAUDE.md
Due: none
