Repository imazen/mozjpeg-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Encoder Pipeline, DCT & Color, Entropy Coding, Trellis Quantization, Progressive Mode

fix(ci): Update codec-eval to fix yanked butteraugli dependency
  .github/workflows/ci.yml
  Cargo.toml
Due: none

feat: Add decoder round-trip validation test
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.toml
  examples/decoder_roundtrip.rs
Due: none

chore: Ignore benchmark tracking results
  .gitignore
Due: none

docs: Remove outdated ProgressiveBalanced Q90+ known issue
  CLAUDE.md
Due: none

chore: Bump version to 0.4.2
  Cargo.toml
Due: none

docs: Add SIMD speedup investigation notes
  SIMD_SPEEDUP_NOTES.md
Due: none

fix: Correct i16 AVX2 DCT to match libjpeg-turbo output exactly
  examples/debug_dct.rs
  src/dct.rs
Due: unittests, DCT & Color

chore: Add DCT debugging and profiling examples
  examples/debug_data26.rs
  examples/debug_full_dct.rs
  examples/profile_dct.rs
  examples/trace_transpose.rs
Due: none

investigate: Entropy encoding optimization exploration (jpegli-rs approach failed)
  Cargo.toml
  ENTROPY_OPTIMIZATION_NOTES.md
  benches/entropy.rs
  examples/bench_entropy.rs
  src/bitstream.rs
  src/entropy.rs
  src/fast_entropy.rs
  src/lib.rs
Due: unittests, Entropy Coding

feat: Add SSE2-optimized entropy encoder (2x speedup)
  benches/entropy.rs
  src/simd/x86_64/entropy.rs
  src/simd/x86_64/mod.rs
Due: unittests, DCT & Color

docs: Add SIMD entropy encoder implementation notes
  ENTROPY_OPTIMIZATION_NOTES.md
Due: none

docs: Add safety review for unsafe code and CPU dispatch
  SAFETY_REVIEW.md
Due: none

feat: Refactor AVX2 DCT to use archmage for safe SIMD
  Cargo.toml
  examples/debug_dct.rs
  src/dct.rs
Due: unittests, DCT & Color

refactor: Update DCT benchmarks to use archmage token API
  benches/dct.rs
  examples/verify_dct.rs
Due: none

refactor: Deprecate unused DCT functions in dct.rs
  benches/dct.rs
  benches/encode.rs
  examples/comprehensive_benchmark.rs
  examples/debug_color_avx2.rs
  examples/debug_decode.rs
  examples/force_sa.rs
  examples/full_corpus_test.rs
  examples/full_quality_comparison.rs
  examples/kodak_full_comparison.rs
  examples/opt_scans_test.rs
  examples/profile_dct.rs
  examples/quality_metrics_comparison.rs
  examples/quant_method_compare.rs
  examples/verify_dct.rs
  src/dct.rs
  tests/corpus_comparison.rs
  tests/progressive_comparison.rs
Due: unittests, DCT & Color

feat: Integrate archmage DCT with cached token in SimdOps
  benches/dct.rs
  benches/encode.rs
  src/encode.rs
  src/simd/mod.rs
Due: unittests, Encoder Pipeline, DCT & Color

fix: Correct archmage feature name from safe-simd to safe_unaligned_simd
  Cargo.toml
Due: none

refactor: Convert SIMD unsafe code to archmage safe wrappers
  examples/profile_entropy.rs
  src/color_avx2.rs
  src/simd/x86_64/avx2.rs
  src/simd/x86_64/entropy.rs
  tests/timing_breakdown.rs
Due: unittests, DCT & Color

refactor: Use #[arcane] macro for safe SIMD function wrappers
  src/color_avx2.rs
  src/dct.rs
  src/simd/x86_64/avx2.rs
Due: unittests, DCT & Color

chore: Use published archmage 0.1 instead of path dependency
  Cargo.toml
Due: none

feat: Add debug examples for chroma and small image encoding
  examples/debug_chroma.rs
  examples/debug_small_image.rs
Due: none

chore: Bump version to 0.5.1
  Cargo.toml
Due: none

feat: add TrellisSpeedMode enum for flexible adaptive trellis config
  src/lib.rs
  src/trellis.rs
  src/types.rs
Due: unittests, Trellis Quantization

test: add regression tests for mozilla/mozjpeg#444
  tests/encode_tests.rs
Due: none

feat: add i16 DCT dispatch for testing mozilla/mozjpeg#453 overflow
  CLAUDE.md
  src/dct.rs
  src/encode.rs
  src/simd/mod.rs
Due: unittests, Encoder Pipeline, DCT & Color

fix: use saturating add/sub in i16 DCT column pass to prevent overflow
  src/dct.rs
Due: unittests, DCT & Color

feat: add trellis speed and DCT overflow benchmark examples
  examples/synth_dct_overflow.rs
  examples/trellis_noise_bench.rs
  examples/trellis_speed_bench.rs
Due: none

style: cargo fmt
  examples/timing_benchmark.rs
  src/types.rs
Due: unittests

chore: bump version to 0.5.2
  Cargo.toml
Due: none

docs: clean up stale optimize_scans bug docs, document unwired trellis fields
  CLAUDE.md
  OPTIMIZE_SCANS_PARITY.md
Due: none

feat: wire up delta_dc_weight in DC trellis optimizer
  CLAUDE.md
  FEEDBACK.md
  src/encode.rs
  src/encode/helpers.rs
  src/trellis.rs
  src/types.rs
Due: unittests, Encoder Pipeline, Trellis Quantization

fix: resolve CI failures across all platforms
  .github/workflows/ci.yml
  examples/decoder_roundtrip.rs
  src/encode.rs
  src/fast_entropy.rs
  src/lib.rs
  src/quant.rs
  src/simd/mod.rs
  src/simd/x86_64/entropy.rs
  src/smooth.rs
  src/types.rs
Due: unittests, Encoder Pipeline, DCT & Color, Trellis Quantization

fix: resolve remaining CI failures
  .github/workflows/ci.yml
  tests/codec_comparison.rs
  tests/ffi_comparison.rs
Due: none

docs: remove stale AC refinement bug comments from encode.rs
  src/encode.rs
Due: unittests, Encoder Pipeline

fix: disable C optimize_scans in all test harnesses
  CLAUDE.md
  FEEDBACK.md
  OPTIMIZE_SCANS_PARITY.md
  examples/pareto_benchmark.rs
  src/test_encoder.rs
  tests/codec_comparison.rs
Due: unittests

test: add comprehensive parity benchmark (7 configs × 6 quality levels)
  CLAUDE.md
  README.md
  scans-lq.md
  tests/parity_benchmark.rs
Due: none

fix: wire up optimize_scans in test_encoder's encode_rust()
  CLAUDE.md
  scans-lq.md
  src/test_encoder.rs
Due: unittests

chore: bump version to 0.5.3, update README parity numbers
  Cargo.toml
  README.md
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Encoder Pipeline: any of: src/encode.rs, src/encode/**, src/marker.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  DCT & Color: any of: src/dct.rs, src/color.rs, src/simd/**, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Entropy Coding: any of: src/entropy.rs, src/huffman.rs, src/bitstream.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Trellis Quantization: any of: src/trellis.rs, src/quant.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Progressive Mode: any of: src/progressive.rs, src/scan_optimize.rs, src/scan_trial.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
