Repository imazen/mozjpeg-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Encoder Pipeline, DCT & Color, Entropy Coding, Trellis Quantization, Progressive Mode

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage thresholds
  status:
    project:
      default:
        # Require 85% overall coverage (we're at ~90%)
        target: 85%
        # Allow 2% drop from base
        threshold: 2%
        # Only check main crate sources
        paths:
          - "src/"
    patch:
      default:
        # New code should have at least 75% coverage
        target: 75%
        # Allow 5% below target for patches
        threshold: 5%

  # Precision of coverage percentages
  precision: 2
  round: down
  range: "70...100"

# Ignore test files and examples from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"
  - "crates/**/*"

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  unittests:
    paths:
      - "src/"
    carryforward: true

# Component breakdown
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    - component_id: encoder
      name: Encoder Pipeline
      paths:
        - "src/encode.rs"
        - "src/encode/**"
        - "src/marker.rs"
    - component_id: dct
      name: DCT & Color
      paths:
        - "src/dct.rs"
        - "src/color.rs"
        - "src/simd/**"
    - component_id: entropy
      name: Entropy Coding
      paths:
        - "src/entropy.rs"
        - "src/huffman.rs"
        - "src/bitstream.rs"
    - component_id: trellis
      name: Trellis Quantization
      paths:
        - "src/trellis.rs"
        - "src/quant.rs"
    - component_id: progressive
      name: Progressive Mode
      paths:
        - "src/progressive.rs"
        - "src/scan_optimize.rs"
        - "src/scan_trial.rs"

feat(estimate): migrate to zencodec::estimate unified resource API
  CHANGELOG.md
  Cargo.toml
  src/codec.rs
Due: unittests

deps: migrate to published zencodec 0.1.24 + drop git-rev patch
  CHANGELOG.md
  Cargo.toml
  src/codec.rs
Due: unittests

feat: native Fidelity support (zencodec 0.1.25, #26)
  Cargo.toml
  src/codec.rs
Due: unittests

style: cargo fmt (fixes CI fmt --check)
  src/encode.rs
Due: unittests, Encoder Pipeline

feat(fidelity): wire zenjpeg-derived metric→quality tables into with_fidelity
  src/codec.rs
Due: unittests

revert(fidelity): omni sweep q is a zensim-A target, not JPEG quality
  src/codec.rs
Due: unittests

test: bench the aarch64 SIMD paths — both real, DCT 1.67x
  Cargo.toml
  benches/neon_tiers.rs
  benchmarks/neon_tiers_aarch64_2026-07-28.md
Due: none

fix: disable the aarch64 NEON DCT — it reproduces mozjpeg#453 (block inversion)
  benchmarks/neon_tiers_aarch64_2026-07-28.md
  examples/debug_color_avx2.rs
  examples/debug_data26.rs
  examples/debug_full_dct.rs
  examples/synth_dct_overflow.rs
  examples/trace_transpose.rs
  src/simd/mod.rs
Due: unittests, DCT & Color

docs: record aarch64 status — build fix, DCT disable, and an OPEN parity failure
  CLAUDE.md
Due: none

docs: parity_benchmark failure is a COMPRESSION WIN, not corruption
  CLAUDE.md
Due: none

fix: widen the NEON DCT pass-2 butterfly to i32 — correct AND still 1.61x
  CLAUDE.md
  benchmarks/neon_tiers_aarch64_2026-07-28.md
  src/simd/aarch64/neon.rs
  src/simd/mod.rs
Due: unittests, DCT & Color

docs(neon): the "NEON DCT is DISABLED" comment has been wrong since 0fbfb96
  src/simd/mod.rs
Due: unittests, DCT & Color

fix: update instrumented examples to the renamed forward DCT function
  examples/quant_ffi_compare.rs
  examples/trace_pipeline.rs
Due: none

fix: move sys-local-dependent targets into the sys-local crate
  CLAUDE.md
  Cargo.toml
  README.md
  crates/sys-local/Cargo.toml
  crates/sys-local/examples/quant_ffi_compare.rs
  crates/sys-local/examples/trace_pipeline.rs
  crates/sys-local/tests/ffi_comparison.rs
  scripts/setup-instrumented-mozjpeg.sh
  scripts/test-all.sh
Due: none

style: cargo fmt five debug examples
  examples/debug_color_avx2.rs
  examples/debug_data26.rs
  examples/debug_full_dct.rs
  examples/synth_dct_overflow.rs
  examples/trace_transpose.rs
Due: none

fix: thread cooperative cancellation through every encode loop
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  src/encode.rs
Due: unittests, Encoder Pipeline

fix: clear aarch64 clippy -D warnings failures in untouched targets
  benches/entropy.rs
  benches/neon_tiers.rs
  examples/cid22_bench.rs
  examples/multipass_test.rs
  examples/profile_compare.rs
  examples/profile_entropy.rs
  examples/verify_dct.rs
  src/simd/aarch64/neon.rs
  tests/preset_parity.rs
Due: unittests, DCT & Color

fix: provide mozjpeg_test_dc_trellis_optimize from sys-local so the FFI job links
  CHANGELOG.md
  CLAUDE.md
  crates/sys-local/Cargo.toml
  crates/sys-local/build.rs
  crates/sys-local/csrc/mozjpeg_test_dc_trellis.c
  crates/sys-local/src/lib.rs
Due: none

test: run AC trellis FFI comparisons in TrellisSpeedMode::Thorough
  crates/sys-local/examples/trace_pipeline.rs
  crates/sys-local/tests/ffi_comparison.rs
Due: none

docs: fix remaining stale Encoder::new() snippets in CLAUDE.md
  CLAUDE.md
Due: none

feat: optional EXIF and custom-APP-marker size caps in Limits
  README.md
  src/encode.rs
  src/error.rs
  src/types.rs
Due: unittests, Encoder Pipeline

feat!: mark Limits, ConfigError and ConfigWarnings #[non_exhaustive]
  src/compat.rs
  src/types.rs
Due: unittests

chore: bump to 0.10.0, record the confirmed breaks, regenerate API snapshots
  CHANGELOG.md
  Cargo.toml
  docs/public-api/mozjpeg-rs.features.txt
  docs/public-api/mozjpeg-rs.internal.txt
  docs/public-api/mozjpeg-rs.txt
Due: none

fix(docs): two rustdoc errors that only fire on non-x86 targets
  src/encode.rs
  src/simd/aarch64/mod.rs
Due: unittests, Encoder Pipeline, DCT & Color

docs(changelog): merge the duplicated Fixed section in [0.10.0]
  CHANGELOG.md
Due: none

fix(ci): the mozjpeg-sys-config test step ran zero tests
  .github/workflows/ci.yml
Due: none

feat: StreamingEncoder::limits — the streaming path had no limits at all
  README.md
  docs/public-api/mozjpeg-rs.txt
  src/encode/streaming.rs
Due: unittests, Encoder Pipeline

docs(changelog): record StreamingEncoder::limits under [0.10.0]
  CHANGELOG.md
Due: none

deps: widen zencodec/zenpixels requirements to current-plus-next minor
  CHANGELOG.md
  Cargo.toml
Due: none

build(deps): write full x.y.z requirements for mozjpeg-sys and rgb
  Cargo.toml
Due: none

docs(changelog): record the dependency verification pass
  CHANGELOG.md
Due: none

build(deps): full x.y.z for sys-local's libc and cmake
  crates/sys-local/Cargo.toml
Due: none

feat(api): add TrellisMode enum (Optimized default, MozjpegExact compat)
  src/types.rs
Due: unittests

fix(scan): match C mozjpeg progressive scan search
  src/scan_optimize.rs
  src/scan_trial.rs
Due: unittests, Progressive Mode

feat: bit-exact C mozjpeg trellis port (MozjpegExact)
  src/encode.rs
  src/lib.rs
  src/sample.rs
  src/trellis_exact.rs
Due: unittests, Encoder Pipeline

test+docs: byte-parity suite vs patched C oracle
  CHANGELOG.md
  README.md
  tests/exact_trellis_parity.rs
  tests/oracle/trellis_noopt_oracle.c
Due: none

feat(metadata): native xmp_data setter + C-compat EXIF/XMP marker fixes
  src/codec.rs
  src/compat.rs
  src/encode.rs
  src/encode/streaming.rs
  src/marker.rs
  src/types.rs
  tests/encode_tests.rs
Due: unittests, Encoder Pipeline

fix(api): re-export ScanInfo from progressive module
  src/lib.rs
  src/progressive.rs
Due: unittests, Progressive Mode

ci: exercise optional features + api-doc check; docs.rs metadata
  .github/workflows/ci.yml
  Cargo.toml
Due: none

docs: API snapshot regen + CHANGELOG/README for XMP & ScanInfo
  CHANGELOG.md
  README.md
  docs/public-api/mozjpeg-rs.features.txt
  docs/public-api/mozjpeg-rs.internal.txt
  docs/public-api/mozjpeg-rs.txt
Due: none
