Repository imazen/mozjpeg-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Encoder Pipeline, DCT & Color, Entropy Coding, Trellis Quantization, Progressive Mode

fix: dispatch AVX2 DCT through non-deprecated path
  src/simd/mod.rs
  src/simd/x86_64/avx2.rs
Due: unittests, DCT & Color

refactor: seal marker, smooth, scan_trial to pub(crate)
  src/lib.rs
  src/marker.rs
Due: unittests, Encoder Pipeline

style: cargo fmt
  src/dct.rs
Due: unittests, DCT & Color

fix(deringing): widen slope math to i32 to eliminate wrap risk
  src/deringing.rs
Due: unittests

refactor: seal types and scan_optimize to pub(crate)
  src/lib.rs
  src/scan_optimize.rs
  tests/scan_verification.rs
Due: unittests, Progressive Mode

style: cargo fmt
  src/scan_optimize.rs
Due: unittests, Progressive Mode

fix: resolve Documentation and Code Coverage CI failures
  .github/workflows/ci.yml
  src/types.rs
Due: unittests

feat: add BGRA/RGBA→YCbCr c_compat color conversion
  src/color.rs
Due: unittests, DCT & Color

feat: add encode_bgra/encode_rgba methods on Encoder
  Cargo.toml
  src/encode.rs
Due: unittests, Encoder Pipeline

feat: add BGRA8/RGBA8 support to zencodec integration
  src/codec.rs
Due: unittests

test: add BGRA/RGBA encode tests
  src/codec.rs
  tests/encode_tests.rs
Due: unittests

docs: update CHANGELOG with BGRA/RGBA encoding support
  CHANGELOG.md
Due: none

refactor: drop BGRA-specific encode path, keep only RGBA
  CHANGELOG.md
  src/codec.rs
  src/color.rs
  src/encode.rs
  tests/encode_tests.rs
Due: unittests, Encoder Pipeline, DCT & Color

feat: use zenyuv instead of yuv crate for SIMD color conversion
  Cargo.toml
  src/color.rs
  src/simd/mod.rs
Due: unittests, DCT & Color

docs: finalize CHANGELOG for 0.9.1 release, update README
  CHANGELOG.md
  README.md
Due: none

feat: accept RGBX8 descriptor in encode dispatch
  .gitignore
  src/codec.rs
Due: unittests

docs: fix fast_color doctest, add Unreleased changelog, flat-square badges
  CHANGELOG.md
  README.md
  src/encode.rs
Due: unittests, Encoder Pipeline

docs(changelog): record unreleased RGBX8 dispatch, badge + doctest fixes
  CHANGELOG.md
Due: none

chore: exclude internal docs and dev files from package
  Cargo.toml
Due: none

chore: switch to include whitelist for package contents
  Cargo.toml
Due: none

fix: resolve clippy lints for Rust 1.95
  examples/cid22_bench.rs
  examples/compare_outputs.rs
  examples/compare_real_images.rs
  examples/debug_color_avx2.rs
  examples/debug_data26.rs
  examples/debug_full_dct.rs
  examples/multipass_test.rs
  examples/trace_transpose.rs
  tests/ffi_validation.rs
Due: none

style: cargo fmt
  examples/multipass_test.rs
Due: none

release: mozjpeg-rs 0.9.2
  CHANGELOG.md
  Cargo.toml
Due: none

deps: bump zenpixels + zenpixels-convert min to 0.2.10
  Cargo.toml
Due: none

feat(encode): optional chroma_quality for separate Cb/Cr table scaling
  src/encode.rs
  src/encode/streaming.rs
  src/quant.rs
  tests/chroma_quality_test.rs
Due: unittests, Encoder Pipeline, Trellis Quantization

feat(encode): optional chroma_quality for separate Cb/Cr table scaling (#4)
  src/encode.rs
  src/encode/streaming.rs
  src/quant.rs
  tests/chroma_quality_test.rs
Due: unittests, Encoder Pipeline, Trellis Quantization

chore(mozjpeg-rs): trim tests/ and benches/ from published package
  CHANGELOG.md
  Cargo.toml
Due: none

feat: versioned public-API surface snapshots, regenerated on every test run
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/public-api/mozjpeg-rs.txt
  justfile
  tests/public_api_doc.rs
Due: none

fix: drop deprecated wide::CmpEq trait imports, require wide 1.5.0
  CHANGELOG.md
  Cargo.toml
  src/entropy.rs
  src/fast_entropy.rs
Due: unittests, Entropy Coding

docs(api): conservative ablation report for mozjpeg-rs public surface
  docs/public-api/ABLATION-mozjpeg-rs.md
Due: none

ci: cancel superseded runs via concurrency group [skip ci]
  .github/workflows/ci.yml
Due: none

build(api-doc): migrate to the zenutils-apidoc 0.1.0 runner package (CI-free)
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  apidoc/Cargo.lock
  apidoc/Cargo.toml
  apidoc/tests/public_api_doc.rs
  docs/public-api/mozjpeg-rs.features.txt
  docs/public-api/mozjpeg-rs.internal.txt
  docs/public-api/mozjpeg-rs.txt
  justfile
  tests/public_api_doc.rs
Due: none

build(deps): cargo update — refresh lockfiles
  apidoc/Cargo.lock
Due: none

docs: fix crate name header + prominent Limits-default-disabled server note (#5 P2/P3)
  src/lib.rs
  src/types.rs
Due: unittests

feat: thread cooperative cancellation into encode loops (#5 P1)
  src/encode.rs
  src/scan_trial.rs
Due: unittests, Encoder Pipeline, Progressive Mode

feat: thread cooperative cancellation into encode loops (#5 P1) (#6)
  src/encode.rs
  src/scan_trial.rs
Due: unittests, Encoder Pipeline, Progressive Mode

docs(readme): fix stale Encoder::new() -> Encoder::default()
  README.md
Due: none

docs(readme): document the cancellation/timeout APIs (none were in the README)
  README.md
Due: none

docs(mozjpeg-rs): param types + quality range + document encode_rgb_with_stop cancellation (insulated-dev usability test)
  CHANGELOG.md
  README.md
Due: none

docs(mozjpeg-rs): param types + quality range + document encode_rgb_with_stop cancellation (insulated-dev usability test) (#8)
  CHANGELOG.md
  README.md
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Encoder Pipeline: any of: src/encode.rs, src/encode/**, src/marker.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  DCT & Color: any of: src/dct.rs, src/color.rs, src/simd/**, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Entropy Coding: any of: src/entropy.rs, src/huffman.rs, src/bitstream.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Trellis Quantization: any of: src/trellis.rs, src/quant.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
  Progressive Mode: any of: src/progressive.rs, src/scan_optimize.rs, src/scan_trial.rs, but not: tests/**/*, examples/**/*, benches/**/*, crates/**/*
