Repository imazen/mozjpeg-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Encoder Pipeline, DCT & Color, Entropy Coding, Trellis Quantization, Progressive Mode

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage thresholds
  status:
    project:
      default:
        # Require 85% overall coverage (we're at ~90%)
        target: 85%
        # Allow 2% drop from base
        threshold: 2%
        # Only check main crate sources
        paths:
          - "src/"
    patch:
      default:
        # New code should have at least 75% coverage
        target: 75%
        # Allow 5% below target for patches
        threshold: 5%

  # Precision of coverage percentages
  precision: 2
  round: down
  range: "70...100"

# Ignore test files and examples from coverage
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "benches/**/*"
  - "crates/**/*"

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  unittests:
    paths:
      - "src/"
    carryforward: true

# Component breakdown
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    - component_id: encoder
      name: Encoder Pipeline
      paths:
        - "src/encode.rs"
        - "src/encode/**"
        - "src/marker.rs"
    - component_id: dct
      name: DCT & Color
      paths:
        - "src/dct.rs"
        - "src/color.rs"
        - "src/simd/**"
    - component_id: entropy
      name: Entropy Coding
      paths:
        - "src/entropy.rs"
        - "src/huffman.rs"
        - "src/bitstream.rs"
    - component_id: trellis
      name: Trellis Quantization
      paths:
        - "src/trellis.rs"
        - "src/quant.rs"
    - component_id: progressive
      name: Progressive Mode
      paths:
        - "src/progressive.rs"
        - "src/scan_optimize.rs"
        - "src/scan_trial.rs"

fix(quant): port C reciprocal-multiply quantization to non-trellis paths
  src/encode/streaming.rs
  src/quant.rs
Due: unittests, Encoder Pipeline, Trellis Quantization

feat(exact): restart-row semantics, C-domain smoothing, trial-order DRI parity
  .github/workflows/ci.yml
  CHANGELOG.md
  src/compat.rs
  src/encode.rs
  src/entropy.rs
  src/sample.rs
  src/trellis_exact.rs
  tests/exact_trellis_parity.rs
  tests/oracle/trellis_noopt_oracle.c
Due: unittests, Encoder Pipeline, Entropy Coding

fix(gray): encode color input under Subsampling::Gray; feat: JpegColorSpace::Rgb
  CHANGELOG.md
  README.md
  src/codec.rs
  src/compat.rs
  src/encode.rs
  src/encode/streaming.rs
  src/huffman.rs
  src/lib.rs
  src/marker.rs
  src/progressive.rs
  src/types.rs
  tests/encode_tests.rs
  tests/ffi_validation.rs
Due: unittests, Encoder Pipeline, Entropy Coding, Progressive Mode

docs: regenerate public API snapshot
  docs/public-api/mozjpeg-rs.features.txt
  docs/public-api/mozjpeg-rs.internal.txt
  docs/public-api/mozjpeg-rs.txt
Due: none

fix(exact): decodable tables for trellis without optimize_coding; no duplicate DHT
  .github/workflows/ci.yml
  CHANGELOG.md
  CLAUDE.md
  DIVERGENCES.md
  README.md
  src/encode.rs
  src/trellis_exact.rs
  tests/exact_trellis_parity.rs
  tests/ffi_validation.rs
Due: unittests, Encoder Pipeline

refactor!: move C mozjpeg compat layer to unpublished crates/sys-config
  .github/workflows/ci.yml
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  crates/sys-config/Cargo.toml
  crates/sys-config/src/lib.rs
  docs/public-api/mozjpeg-rs.features.txt
  docs/public-api/mozjpeg-rs.internal.txt
  docs/public-api/mozjpeg-rs.txt
  src/encode.rs
  src/lib.rs
Due: unittests, Encoder Pipeline

harden: reject out-of-range dimensions, enforce streaming row count, fix sys-config FFI UB
  CHANGELOG.md
  crates/sys-config/src/lib.rs
  docs/public-api/mozjpeg-rs.txt
  src/encode.rs
  src/encode/helpers.rs
  src/encode/streaming.rs
  src/error.rs
  src/imgref_ext.rs
  tests/encode_tests.rs
Due: unittests, Encoder Pipeline

ci: fix clippy 1.99 lints and the local-mozjpeg oracle build
  .github/workflows/ci.yml
  src/encode/streaming.rs
  src/types.rs
Due: unittests, Encoder Pipeline
